[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
twine = "*"
setuptools = "*"
wheel = "*"
pytest-cov = "*"

[packages]
click = "*"
colorama = "*"

[requires]
python_version = "3.7"

[scripts]
test = "python -m pytest"
coverage = "python -m pytest --cov=kaz"
package = "python setup.py sdist bdist_wheel"
publish = "python -m twine upload dist/*"
